<style>

body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

</style>

<a href="/" class="btn btn-light mt-4">Ejemplo 1</a>
<a href="/home/index1" class="btn btn-light mt-4">Ejemplo 2</a>

