<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Data project</title>
        <meta name="description" content="Proyecto data Adil">
        <link rel="FaviconIcon" href="favicon.ico" type="image/x-icon">
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <!-- Swipe core CSS -->
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap4/bootstrap.min.css">
    </head>

    <body style="background-color: #2F4A6D;;">
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <%- body %>
            </div>
        </div>
        <!-- <script src="/javascripts/jquery-3.2.1.min.js"></script>
        <script src="/javascripts/d3.js"></script> -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="/javascripts/chart.js"></script>
    </body>
</html>
